p {
    text-align: center;
    text-indent: 30px;
    word-spacing: 5px;
}
body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande ", sans-serif;
}
h1 {
    background-image: url(img/sobre-background.jpg);
}