p {
    color: rgba(0, 5, 8, 0.979);
    text-indent: 15px;
    padding: 0 45px;
    margin: 0 auto;
}
body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande ", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    
    

}
h1 {
    background-image: url(img/sobre-background.jpg);
    padding: 10px;
    text-shadow: 10px 10px 3px rgb(122, 120, 120);
}
h2 {
    border-bottom: 2px solid #1b1b1b;
    margin-top: 30px;
    color: #080808;
}
figure {
    background-color: #F2EDED;
    border: 1px groove #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}
figcaption {
    font-size: italic;
    margin-top: 10px;
}
ul {
    color: #0a0101;
}
#centro {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}
#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}
#familia {
    float: right;
    margin: 0 0 10px 10px;
}
li:nth-child(2n-1){
    background-color: gray;
}
li:nth-child(2n){
    background-color: rgb(59, 58, 58);
}
p::first-letter {
    font-weight: bold;
}
h1 + p { 
    text-indent: 0;
} 
:not(p) + p::first-line{ 
    font-variant: small-caps;
}