.novidades {
    float: left;
    background-color: #f5dcdc;
}
.mais-vendidos{
    float: right;
    background-color: #dcdcf5;
}
.painel{
    margin: 10px 0;
    padding: 10px;
    width: 450px;
}
.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;
}
.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;

    margin:10px;
    padding-bottom: 10px;
}
.container {
    margin: 0 auto;
    width: 1100px
}
.img {
    position: relative;
    left: 300px;
}